@model List<DailyCovid>
@using MoreLinq
<div class="form-group">
    <div class="row">
        <div class="col-6 mb-4">
            <select id="select" class="form-control">
                @if (Model != null)
                {
                    <option value="" selected disabled hidden>Choose a country</option>
                    @foreach (var item in (IEnumerable<dynamic>)Model.DistinctBy(p => p.Country))
                    {
                        <option class="option" value="@item.CountryCode">@item.Country</option>
                    }
                }
            </select>            
        </div>
        <div class="col-6 countCase text-right" >

        </div>
        <div class="col-6 ">
            <script>
                $(function () {
                    $("#datepicker").datepicker();
                });
            </script>
            <input class="input-group-text" type="text" id="datepicker" placeholder="Choose a date">
        </div>
        <div class="col-6">               
                <button type="submit" value="search" class="btn btn-outline-primary float-right" id="searchButton">Search</button>            
        </div>
    </div>
</div>
