@model List<DailyCovid>
@using MoreLinq
<div class="form-group">
    <div class="row">
        <div class="col-md-5">
            <select id="select" class="form-control">
                @if (Model != null)
                {
                    <option value="" selected disabled hidden>Choose a country</option>
                    @foreach (var item in (IEnumerable<dynamic>)Model.DistinctBy(p => p.Country))
                    {
                        <option class="option" value="@item.CountryCode">@item.Country</option>
                    }
                }
            </select>            
        </div>
        <div class="col-md-3 offset-md-4">
            <script>
                $(function () {
                    $("#datepicker").datepicker();
                });
            </script>
            <input class="input-group-text float-right" type="text" id="datepicker" placeholder="Choose a date">
        </div>
    </div>
</div>
<div class="col-md-6 row">
    <span class="span"></span>
</div>
